

<div class="con-bot">
    
        <div class="left">
            <div class="bot-left">
                <img src="~/web2/images/Ankara.jpg" alt="" />
            </div>
            <div class="left-text">
                <h4>Ankara</h4>
                <p>Ankara hakkındaki bilgilere buradan ulaşabilirsiniz.</p>
                <p><a href="/Blog/BlogDetay/1"><span class="read">Devamını Oku >></span></a></p>
            </div>
        </div>
    
    <div class="left">
            <div class="bot-left">
                <img src="~/web/images/pic1.jpg" alt="" />
            </div>
            <div class="left-text">
                <h4>Diğer Şehirler</h4>
                <p>Diğer şehirler girilmeye başlandığı zaman bu kısımlara eklenecektir.</p>
                <p><a href="/Blog/BlogDetay/1"><span class="read">Devamını Oku >></span></a></p>
            </div>
        </div>
    <div class="right">
            <div class="bot-left">
                <img src="~/web/images/pic2.jpg" alt="" />
            </div>
            <div class="left-text">

                <h4>Diğer Şehirler</h4>
                <p>Diğer şehirler girilmeye başlandığı zaman bu kısımlara eklenecektir.</p>
                <p><a href="/Blog/BlogDetay/1"><span class="read">Devamını Oku >></span></a></p>
            </div>
        </div>
    <div class="clear"></div>
</div>
